<h1><%= @registered_application.name %></h1>
    <table class="table table-bordered table-hover">
      <thead>
        <th>Application Name</th>
        <th>Application URL</th>
      </thead>
      <tbody>
        <tr>         
          <td><%= @registered_application.name %></td>        
          <td><%= @registered_application.url %></td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered table-hover">
      <thead>
        <th>Event Name</th>
        <th>Event Count</th>
      </thead>
      <tbody>
        <% @events.each do |name, events| %>
        <tr>         
          <td><%= name %></td>        
          <td><%= events.size %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
<%= link_to 'Edit', edit_registered_application_path(@registered_application) %> |
<%= link_to 'Delete', registered_application_path(@registered_application), method: :delete, data: { confirm: 'Are you sure you want to delete this application?' } %> |
<%= link_to 'Back', registered_applications_path %>
